footer{
    margin-top: 48px;
    padding-top: 32px;
    background: $azul-escuro;
    color: $branco;

    p, a{ font-size: 1rem;}

    a:hover{ opacity: 1;}

        .social_links{
            flex-basis: 100%;
            display: flex;
            justify-content: center;
            a img{
                height: 32px;
                width: 32px;
                margin: 0.5rem;
                background: $branco;
                display: block;
                border-radius: 100%;
                opacity: .2;
            }
        }

    .footer_list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 32px;
        li > *{
            color: currentColor;
            text-align: center;
            display: block;
        }

        li h4 {
            font-size: 1rem;
            font-weight: $semibold;
            margin-bottom: 1rem;
        }

        li a, li p{
            margin-bottom: 0.75rem;
            color: $branco-medium;
            max-width: 335px;
            margin-left: auto;
            margin-right: auto;
            
        }

        li a{
            font-weight: $semibold;
            &:hover{
                color: $branco;
                transition: all .3s ease;
            }
        }

        ul:nth-child(1){
            flex-basis: 100%;
            margin-bottom: 32px;
        }

        ul:nth-child(2){
            margin-right: 32px;
        }
    }

    .copyright{
        background: $azul-principal;
        margin-top: 32px;
        height: 48px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        div{
            display: flex;
            align-items: center;
            p{ display: block; color: currentColor; font-size: 14px;}
            img{ display: block; max-height: 36px; margin-left: 16px;}
        }
        
    }

}


@media only screen and (min-width: 1024px){

    footer{
        padding-top: 0;

        .container{
           display: flex; 
           display: none;   
    
        .footer_lists{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-top: 0px;

            li > *{
                text-align: left;
            }
    
            > ul {
                margin-left: 56px;
            }

            ul li h4 {
                margin-bottom: 1.5rem;
            }
    
            ul li a, ul li p{
                margin-bottom: 1rem;
            }

            ul:nth-child(1){
                flex-basis: 0;
                margin-bottom: 0;
            }

            ul:nth-child(2){
                margin-right: 0;
            }
        }

    }

    .copyright{
        margin-top: 0;
    }

    
    }

}