$azul-claro: #2B71D9;
$azul-principal: #0151C9;
$azul-escuro: #0149B5;
$azul-transparente: rgba(1,81,201, .87);

$verde-claro: #27A855;
$verde-principal: #049839;
$verde-escuro: #038532;

$laranja-claro: #F77F40;
$laranja-principal: #E9590D;
$laranja-escuro: #C34807;

// $preto: #637FA6;
$preto: #354052;
$branco: #ffffff;
$branco-medium: rgba(255,255,255,.87);
$cinza: #F4F8FE;

$shadow: 0px 0px 20px rgba(43, 113, 217, 0.15);
$shadow-pattern: 0px 0px 4px rgba(43, 113, 217, 0.06);

$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$black: 800;